@media only screen and (max-width:1920px){
    /* @font-face {
        font-family: 'Roboto';
        src: url('../../Fonts/Roboto-Medium.ttf');
    } */
#userProfileContainer {
    position: relative;
    height: 30%;
    text-align: center;
}
#userImageContainer {
    display:flex;
    justify-content: center;
    margin-top: 2%;
    padding: 1%;
}
.userImage {
    border: 1px solid white;
    border-radius: 50%;
    width: 60%;
    height: auto;
    padding: 2%;
}
#musicalNote {
    margin-top: -9%;
    width: 100%;
    height: auto;
    filter: invert(1);
}
.userImage:hover {
    cursor: pointer;
    filter: invert(1);
}
#userProfileName {
    margin-top: 0;
    margin-bottom: 5%;
    color: white;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 2vw;
}
#userProBadgeContainer {
    display: flex;
    justify-content: space-around;
}
.userProBadge {
    width: 2.9vw;
    height: auto;
}
}