/* @media only screen and (max-width:1920px){
   
}
@media only screen and (max-width:1366px){
    
} */

.paper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin-left: 10%;
}

.chart-paper {
   padding: 2%;
   display: flex;
   flex-direction: column;
   position: relative;
}

.paper-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

.analytics-container {
    display: flex;
    justify-content: center;
   
}

.download-btn {
    width: 20%;
}
      


/* @media only screen and (min-width:540px) and (max-width:1024px){
    
} */
